{% trans_default_domain 'FOSUserBundle' %}

{% if error %}
    <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
{% endif %}

<div class="row my-3">
    <div class="col-sm-12 col-md-4 card border border-dark rounded ">
        <form action="{{ path("fos_user_security_check") }}" method="post">
            {% if csrf_token %}
                <input type="hidden" name="_csrf_token" value="{{ csrf_token }}"/>
            {% endif %}

            <label for="username">{{ 'security.login.username'|trans }}</label>
            <br>
            <input class="rounded" type="text" id="username" name="_username" value="{{ last_username }}"
                   required="required" autocomplete="username"/>
            <br>
            <label for="password">{{ 'security.login.password'|trans }}</label>
            <br>
            <input class="rounded" type="password" id="password" name="_password" required="required"
                   autocomplete="current-password"/>
            <br>
            <input type="checkbox" id="remember_me" name="_remember_me" value="on"/>
            <br>
            <label for="remember_me">{{ 'security.login.remember_me'|trans }}</label>
            <br>
            <input class="btn btn-outline-success my-2 my-sm-0" type="submit" id="_submit" name="_submit"
                   value="{{ 'security.login.submit'|trans }}"/>
            <br><br>
            <p>Don't have an account yet?</p>
            <a class="btn btn-outline-primary my-2 my-sm-2" href="{{ path("fos_user_registration_register") }}"
               role="button">Register</a>
        </form>
    </div>
</div>
