{% extends "@FOSUser/layout.html.twig" %}

{% block fos_user_content %}
    {% include "@FOSUser/Profile/show_content.html.twig" %}

    <div class="row">
        <div class="col-sm-12 col-md-8">
            <h2>Articles created by {{ app.user.username }}</h2>
            <table class="table table-borderless table-dark">
                <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Title</th>
                    <th scope="col">Content</th>
                    <th scope="col">Upvotes</th>
                    <th scope="col">Comments</th>
                    <th scope="col"></th>
                </tr>
                </thead>
                <tbody>
                {% for article in app.user.articles %}
                    <tr>
                        <th scope="row">{{ article.id }}</th>
                        <td>{{ article.title }}</td>
                        <td>{{ article.content|length > 50 ? article.content|slice(0, 50) ~ '...' : article.content }}</td>
                        <td>{{ article.upvote | length }}</td>
                        <td>{{ article.comments | length }}</td>
                        <td><a class="btn btn-outline-success float-right my-2 my-sm-0"
                               href="{{ path('article_edit', {'slug': article.slug}) }}"><span
                                        class="fa fa-edit"></span></a></td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock fos_user_content %}
