{% trans_default_domain 'FOSUserBundle' %}

<div class="fos_user_user_show">
    <div class="row my-3">
        <div class="col-sm-12 col-md-4 card border border-dark rounded  py-2 pd-2">
            <div>
                <a class="btn btn-outline-success my-2 my-sm-0"
                   href="{{ path('profile_edit', {'id': user.id}) }}"><span class="fa fa-edit"></span>Edit
                    profile</a>
            </div>
            <img class="my-3 rounded-circle profile-image"  alt="pfp"
                 src="{{ asset('profilePictures/' ~ user.pfp) }}">
            <p>{{ 'profile.show.username'|trans }}: {{ user.username }}</p>
            <p>{{ 'profile.show.email'|trans }}: {{ user.email }}</p>
        </div>
    </div>
</div>

