{% trans_default_domain 'FOSUserBundle' %}

<div class="row my-3">
    <div class="col-sm-12 col-md-4 card border border-dark rounded ">
        {{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register'), 'attr': {'class': 'fos_user_registration_register'}}) }}
        {{ form_widget(form) }}
        <div>
            <input class="btn btn-outline-success my-2 my-sm-0" type="submit"
                   value="{{ 'registration.submit'|trans }}"/>
            <br><br>
            <p>Already have an account?</p>
            <a class="btn btn-outline-primary my-2 my-sm-0" href="{{ path("fos_user_security_login") }}" role="button">Log
                in</a>
        </div>
        {{ form_end(form) }}
    </div>
</div>
