body {
    background: #cde9ed;
}

.footer {
    background: #cccccc;
    border: solid black 1px;
    background-size: cover;
}

.footer p:last-child {
    margin-bottom: 0;
}

.main-article{
    background: #fff;
}

.article-container {
    border: 1px solid #efefee;
    background: #fff;
}

.article-title {
    text-decoration: none;
    font-size: 1.3em;
    color: black;
}

.article-link:hover {
    text-decoration: none;
    color: black;
}

.ad-space {
    background: #fff;
    border-radius: 5px;
    border-top: 5px solid black;
}

.advertisement-img {
    width: 90%;
    height: auto;
}

.bold-text {
    font-weight: bold;
}

.TeamPhoto{
    width: 100%;
    height: auto;

}

.profile-image{
    height: 75px;
    width: 75px;
}