{% extends "base.html.twig" %}

{% block title %}About us{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="jumbotron bg-light ml-3 p-md-5 jumbotron-fluid border border-dark rounded mt-3">
                <h1 class="display-4">About us</h1>
                <p class="lead my-3">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula
                    eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur
                    ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat
                    massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo,
                    rhoncus ut, imperdiet a, venenatis vitae, justo.</p>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12 col-md-4">
                <div class="card" style="width: 14rem;">
                    <img class="card-img-right rounded-circle img-responsive TeamPhoto p-2" src="../images/teamtony.jpg"
                         alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Tony Pyjamas</h5>
                        <p class="card-text">He's like The Guy.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}