{% extends 'base.html.twig' %}

{% block title %}Articles{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-12">
                <h1>Articles</h1>
            </div>
            <div class="col-sm-12 col-md-6">
                <div class="row-mb-2">
                    <div class="article-container my-3 py-3">
                        <div class="d-inline-block pl-3 align-middle">
                            <a class="article-link" href="{{ path('article_smorc', {slug: 'why-face-is-the-place'}) }}"><span class="article-title">Why face is the place</span></a>
                            <br>
                            <p class="text-muted">November 14, 2015 by Tony Pyjamas</p>
                            <span class="align-left article-details">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.
                            Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</span>
                            <br><br>
                            <a href="{{ path('article_smorc', {slug: 'why-face-is-the-place'}) }}">Read more...</a>
                        </div>
                    </div>
                    <div class="article-container my-3 py-3">
                        <div class="d-inline-block pl-3 align-middle">
                            <a class="article-link" href="#"><span class="article-title">Article Title</span></a>
                            <br>
                            <p class="text-muted">October 16, 2018 by Tony Pyjamas</p>
                            <span class="align-left article-details">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.
                            Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</span>
                            <br><br>
                            <a href="#">Read more...</a>
                        </div>
                    </div>
                    <div class="article-container my-3 py-3">
                        <div class="d-inline-block pl-3 align-middle">
                            <a class="article-link" href="#"><span class="article-title">Article Title</span></a>
                            <br>
                            <p class="text-muted">October 16, 2018 by Tony Pyjamas</p>
                            <span class="align-left article-details">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.
                            Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</span>
                            <br><br>
                            <a href="#">Read more...</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-6">
                <div class="row-mb-2">
                    <div class="article-container my-3 py-3">
                        <div class="d-inline-block pl-3 align-middle">
                            <a class="article-link" href="#"><span class="article-title">Article Title</span></a>
                            <br>
                            <p class="text-muted">October 16, 2018 by Tony Pyjamas</p>
                            <span class="align-left article-details">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.
                            Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</span>
                            <br><br>
                            <a href="#">Read more...</a>
                        </div>
                    </div>
                    <div class="article-container my-3 py-3">
                        <div class="d-inline-block pl-3 align-middle">
                            <a class="article-link" href="#"><span class="article-title">Article Title</span></a>
                            <br>
                            <p class="text-muted">October 16, 2018 by Tony Pyjamas</p>
                            <span class="align-left article-details">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.
                            Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</span>
                            <br><br>
                            <a href="#">Read more...</a>
                        </div>
                    </div>
                    <div class="article-container my-3 py-3">
                        <div class="d-inline-block pl-3 align-middle">
                            <a class="article-link" href="#"><span class="article-title">Article Title</span></a>
                            <br>
                            <p class="text-muted">October 16, 2018 by Tony Pyjamas</p>
                            <span class="align-left article-details">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.
                            Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</span>
                            <br><br>
                            <a href="#">Read more...</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Page navigation in case of more articles -->
        {#<nav aria-label="Page navigation example">
            <ul class="pagination justify-content-center fixed-bottom mb-5">
                <li class="page-item disabled">
                    <a class="page-link" href="#" tabindex="-1">Previous</a>
                </li>
                <li class="page-item"><a class="page-link" href="#">1</a></li>
                <li class="page-item"><a class="page-link" href="#">2</a></li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>
                <li class="page-item">
                    <a class="page-link" href="#">Next</a>
                </li>
            </ul>
        </nav>#}
    </div>
{% endblock %}