{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block body %}
    <div class="container">

        <!-- Main article -->
        <div class="jumbotron bg-white p-md-5 jumbotron-fluid rounded mt-3">
            {% for article in articles %}
                {% if article.main == true %}
                    <h1 class="display-4">{{ article.title }}</h1>
                    <h6 class="text-muted">Made by {{ article.user }}
                        on {{ article.published ? article.published|date('Y-m-d H:i') : '' }}</h6>
                    <p class="lead text-truncate my-3">{{ article.content|length > 125 ? article.content|slice(0, 125) ~ '...' : article.content }}</p>

                    <a href="{{ path('article_show', {'slug': article.slug}) }}">Read more...</a>
                    <p class="text-info px-2 float-right">Upvotes: {{ article.upvote | length }}</p>
                    <p class="text-info px-2 float-right">Comments: {{ article.comments | length }}</p>
                {% endif %}
            {% endfor %}
        </div>

        <div class="row mb-5">
            <div class="col-sm-12 col-md-8">
                <!-- Smaller articles -->
                <div class="row-mb-2">
                    {% for article in articles %}
                        {% if article.main == false %}
                            <div class="article-container rounded my-3 py-3">
                                <div class="pl-3 align-middle">


                                    <a class="article-link" href="{{ path('article_show', {'slug': article.slug}) }}"><span
                                                class="article-title">{{ article.title }}</span>
                                        <p class="text-info px-2 float-right">Upvotes: {{ article.upvote | length }}</p>
                                        <p class="text-info px-2 float-right">Comments: {{ article.comments | length }}</p>
                                    </a>
                                    <h6 class="text-muted pd-4">Made by {{ article.user }}
                                        on {{ article.published ? article.published|date('Y-m-d H:i') : '' }}</h6>
                                    <p>{{ article.content|length > 200 ? article.content|slice(0, 200) ~ '...' : article.content }}</p>


                                    <br>
                                    <a href="{{ path('article_show', {'slug': article.slug}) }}">Read more...</a>
                                </div>
                            </div>
                        {% endif %}
                    {% endfor %}


                </div>
            </div>
            <!-- Ad space -->
            <div class="col-sm-12 col-md-4 text-center">
                <div class="ad-space mx-auto mt-1 pb-2 pt-2">
                    <img class="advertisement-img img-responsive" src="{{ asset('images/tonypyjamas.jpg') }}">
                    <p><span class="bold-text">New:</span> Get you own Tony "pyjamas"</p>
                    <form action="#">
                        <input type="submit" class="bg-primary border-0 rounded " target="_blank" value="Buy me!"/>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
