{% form_theme form 'bootstrap_4_layout.html.twig' %}

{% block body %}
    <h2>Contact us!</h2>
    {{ form_start(form) }}
    {{ form_widget(form) }}
    <input class="btn btn-outline-success my-2 my-sm-2" type="submit" value="Send" />
    {{ form_end(form) }}
{% endblock %}