{% extends "base.html.twig" %}

{% block body %}

    <div class="row my-3 py-2">
        <div class="col-sm-12 col-md-4 card border border-dark rounded ">
            {% for message in app.flashes('success') %}
                <div class="row flash-notice alert alert-success mx-1 my-1">
                    {{ message }}
                </div>
            {% endfor %}

            {{ include('contact/_form.html.twig') }}
        </div>
    </div>



{% endblock %}