<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    {% block stylesheets %}
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
              integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
              crossorigin="anonymous">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css"
              integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU"
              crossorigin="anonymous">
        <link rel="stylesheet" href="{{ asset('build/app.css') }}">
    {% endblock %}
</head>
<body>

{% block javascripts %}
    <script src="https://code.jquery.com/jquery-3.0.0.min.js"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
            integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
            integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
            crossorigin="anonymous"></script>
{% endblock %}

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="{{ path("app_home") }}">The Tony Pyjamas Today</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
            aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="{{ path("app_home") }}">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path("article_index") }}">Articles</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path("app_about_us") }}">About us</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path("app_contact") }}">Contact</a>
            </li>
            {% if is_granted("ROLE_SUPER_ADMIN") %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ path("app_user_management") }}">User Management</a>
                </li>
            {% endif %}
        </ul>
    </div>
    <div>
        <ul class="navbar-nav">
            <li class="nav-item">
                {% if is_granted('ROLE_USER') %}
            <li><a class="nav-link active" href="{{ path('fos_user_security_logout') }}">Logout</a></li>
            <li><a class="nav-link active" href="{{ path('fos_user_profile_show') }}">Profile</a></li>
            {% else %}
                <li><a class="nav-link active" href="{{ path('fos_user_security_login') }}">Login</a></li>
            {% endif %}
        </ul>
    </div>
</nav>
<div class="container">
    {% block body %}
    {% endblock %}
</div>
<footer class="footer fixed-bottom">
    <div class="container text-center">
        <span>&copy; 2018 | This is mine pls don't steal.</span>
    </div>
</footer>


</body>
</html>
