{% form_theme form 'bootstrap_4_layout.html.twig' %}

{% block body %}
{{ form_start(form, {'attr': {'id': 'form_comment'}}) }}
    {{ form_widget(form) }}
    <button id="buttonComment" class="btn btn-outline-dark my-2 my-sm-0">{{ button_label|default('Comment') }}</button>
{{ form_end(form) }}
{% endblock %}