{% extends 'base.html.twig' %}

{% block title %}Edit Article{% endblock %}

{% block body %}
    <h1>Edit Article</h1>

    {{ include('article/_form.html.twig', {'button_label': 'Update'}) }}

    <div class="my-1">
    {{ include('article/_delete_form.html.twig') }}

    <a class="btn btn-outline-dark my-2 my-sm-0" href="{{ path('article_index') }}">back to list</a>
    </div>
{% endblock %}
