{% extends 'base.html.twig' %}

{% block title %}Article index{% endblock %}


{% block body %}


    <h1>Article index</h1>
    {% if is_granted('ROLE_USER') %}
    <a class="btn btn-outline-dark my-2 my-sm-0" href="{{ path('article_new') }}"><span class="fa fa-plus"></span>
        Create new</a>
    {% endif %}
    <div class="containter">
        <div class="row mb-5">
            <div class="col-sm-12 col-md-12">
                <div class="row-mb-2">
                    {% for article in articles %}
                        <div class="article-container rounded my-3 py-3">
                            <div class="pl-3 align-middle">
                                <a class="article-link" href="{{ path('article_show', {'slug': article.slug}) }}"><span class="article-title">{{ article.title }}</span></a>
                                {% if is_granted("ROLE_ADMIN") %}
                                    {% if app.user.username == article.user.username %}
                                        <a class="btn btn-outline-success float-right mx-2 my-2 my-sm-0"
                                           href="{{ path('article_edit', {'slug': article.slug}) }}"><span
                                                    class="fa fa-edit"></span></a>
                                    {% endif %}
                                {% endif %}
                                <h6 class="text-muted pd-3">Made by {{ article.user }}
                                    on {{ article.published ? article.published|date('Y-m-d H:i') : '' }}</h6>

                                <p class="d-inline-block text-truncate">{{ article.content|length > 125 ? article.content|slice(0, 125) ~ '...' : article.content }}</p>

                                <br>
                                <a href="{{ path('article_show', {'slug': article.slug}) }}">Read more...</a>

                            </div>

                        </div>
                    {% else %}
                        <h1>No records found</h1>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>

{% endblock %}