{% extends 'base.html.twig' %}

{% block title %}Article{% endblock %}

{% block body %}
    <div class="container">
        <div class="jumbotron mt-3 bg-light ">
            {% if app.user is not null and app.user.username == article.user.username %}
                <a class="btn float-right btn-outline-success my-2 mx-1 my-sm-0"
                   href="{{ path('article_edit', {'slug': article.slug}) }}"><span class="fa fa-edit"></span></a>
                {{ include('article/_delete_form.html.twig') }}
            {% endif %}

            <button id="upvote" class="btn btn-outline-dark upvote float-right mx-1 my-2 my-sm-0">
                <span id="upvote-results" class="fa fa-thumbs-up"></span></button>
            <h1 class="display-4">{{ article.title }}</h1>

            <hr class="my-4">
            <p class="lead pd-4">{{ article.content }}</p>

        </div>


        <div class="row">
            <div class="col-sm-12">
                {% if is_granted('ROLE_USER') %}
                    {{ include('comments/_form.html.twig') }}
                {% else %}
                    <div class="row">
                        <div class="col-sm-12 col-md-8">
                            <div class="article-container border-danger rounded my-3 pb-2 pt-3">
                                <h3 class="text-danger px-2">You need to be logged in to comment.</h3>
                                <a class="btn btn-outline-success my-2 my-sm-0 mx-3"
                                   href="{{ path('fos_user_security_login') }}">Login</a>
                            </div>
                        </div>
                    </div>
                {% endif %}
                <div class="row">
                    <div id="comments" class="col-sm-12 col-md-8">
                        {% for comment in article.comments %}
                            <div class="article-container rounded my-3 pb-2 pt-3">
                                <h6 class="float-right text-muted px-2">{{ comment.published ? comment.published|date('Y-m-d H:i') : '' }}</h6>
                                <h6 class="px-2">{{ comment.article.user }}</h6>
                                <hr class="my-2">
                                <p class="px-3" id="comment">{{ comment.comment }}</p>
                            </div>
                        {% else %}

                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>
        $(document).on('click', 'button.upvote', function () {
            $('#upvote').attr("disabled", true);
            $.ajax({
                url: '{{ path('article_upvote', {'id': article.id}) }}',
                type: "POST",
                dataType: "json",
                async: true,
                success: function (data) {
                    console.log(data);
                    $('#upvote-results').text(' ' + data);
                    $('#upvote').attr("disabled", false);
                },
                error: function (data) {
                    $('#upvote').attr("disabled", false);
                }
            });
        });

        $('#form_comment').submit(function (event) {
            event.preventDefault();
            let form_data = $(this);

            $("#buttonComment").attr("disabled", true);
            $.ajax({
                url: '{{ path('comment_new', {'slug': article.slug}) }}',
                type: "POST",
                data: form_data.serialize(),
                dataType: "json",
                async: true,
                success: function (comment) {
                    $("#buttonComment").attr("disabled", false);

                    $('#comments').prepend(
                        '<div class="article-container rounded my-3 pb-2 pt-3">' +
                        '<h6 class="float-right text-muted px-2">' + comment.date + '</h6>' +
                        '<h6 class="px-2">' + comment.username +'</h6>' +
                        '<hr class="my-2">' +
                        '<p class="px-3" id="comment">'+ comment.comment +'</p>' +
                        '</div>'
                    );
                    $("#comment_comment").val('');
                }
            });
        });
    </script>
{% endblock %}
