{% form_theme form 'bootstrap_4_layout.html.twig' %}

{% block body %}
{{ form_start(form) }}
    {{ form_widget(form) }}
    <button class="btn btn-outline-dark my-2 my-sm-0">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}
{% endblock %}