{% extends 'base.html.twig' %}

{% block title %}Edit User{% endblock %}

{% block body %}
    <h1>Edit user</h1>

    {{ include('user/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_user_management') }}">back to list</a>

    {#{{ include('user/_delete_form.html.twig') }}#}
{% endblock %}
