{% extends "base.html.twig" %}

{% block body %}
<h1 class="display-4">Users</h1>
    <div class="row">
        <div class="col-sm-12 col-md-8">
            <table class="table table-borderless table-dark">
                <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Username</th>
                    <th scope="col">Email</th>
                </tr>
                </thead>
                <tbody>
                {% for user in users %}
                    <tr>
                        <th scope="row">{{ user.id }}</th>
                        <td>{{ user.username }}</td>
                        <td>{{ user.email}}</td>
                        <td><a class="btn btn-outline-success my-2 my-sm-0" href="{{ path('user_edit', {'id': user.id}) }}"><span
                                        class="fa fa-edit"></span></a></td>
                        <td>{{ include('user/_delete_form.html.twig') }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}